* {
  /* margin: 0 auto; Please apply "auto" for your specific classes, because it makes changes on my styles, in style.css I have *{margin:0}; Michaela */
  /* box-sizing: border-box; This I applied for everything in style.css it can be deleted here */
  overflow-x: hidden;
}
/* What I changed in your file: .navbar:height:10vh,(I can explain why), @mediaQ (min:800), Michaela */

/*media queries Nav bar*/

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #bdab4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.navbar.html {
  background-color: #ff7809;
}

#open-slide {
  margin: 0 0 0 15px;
  align-self: center;
  width: 32px;
  height: 32px;
}

#navquery {
  visibility: hidden;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: black;
  color: antiquewhite;
  opacity: 0.8;
  top: 0;
  left: 0;
  padding-top: 60px;
  transition: 0.5;
  z-index: 5;
}

.side-nav a,
.side-nav a:visited {
  transition: 0.3;
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 30px;
  display: block;
}
.side-nav a:hover {
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  opacity: 0.8;
}

#btn-close {
  text-align: right;
}

/*CSS for Contact Page*/
.m6x4-main {
  display: block;
}

.column-a {
  width: 3%;
  margin: 3%;
}

.subcolumn-a1 {
  height: 46%;
}

.subcolumn-a2 {
  height: 5%;
  background-color: rgb(224, 194, 19);
}

.column-b {
  display: block;
  width: 60%;
  margin-left: 20%;
  margin-right: 10%;
}

.column-c {
  display: block;
  width: 70%;
  margin: 15%;
  background-color: rgba(78, 73, 73, 0.041);
}
.subcolumn-c1 {
  display: flex;
  height: 12.5%;
}

.subcolumn-c1-1 {
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.subcolumn-c1-2 {
  width: 50%;
  background-color: rgb(252, 252, 252);
  display: flex;
  align-items: center;
}

.subcolumn-c2 {
  height: 75%;
}

.subcolumn-c2-1 {
  display: block;
  margin: 1%;
}

input,
select,
textarea {
  width: 98%;
  padding: 1%;
  background-color: white;
  border: 0px;
  border-bottom: 1px solid gray;
  margin: 1%;
}

.subcolumn-c2-1-1 {
  display: inline-flex;
  padding: 4%;
  padding-left: 15%;
}

#btn-contact {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(224, 194, 19);
  padding: 3vh;
  border-radius: 3rem;
  max-width: 30%;
  margin-left: 35%;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.363);
}

.contactInfo {
  padding-left: 5rem;
}

.contactFS {
  font-size: 1.25rem;
}

.shadowBox {
  box-shadow: 3px 7px 13px 0px rgba(51, 49, 49, 0.363);
}

/*footer*/

hr {
  width: 100%;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  color: #fff;
  background-color: black;
  flex-direction: column;
}
.footer {
  padding: 0;
  width: 100%;
  bottom: 10px;
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

#reficons {
  bottom: 0;
  font-size: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#reficons a,
#reficons a:active,
#reficons a:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    position: relative;
  }
  .side-nav {
    display: none;
  }

  #navquery {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 25px;
    margin: 0 0px;
  }
  #navquery li {
    padding: 13px 0px;
    margin: 0;
  }

  #navquery li a,
  #navquery li a:visited {
    color: white;
    padding: 13px 10px;
    text-decoration: none;
  }
  #navquery li a:hover {
    text-decoration: none;
    background-color: black;
    margin: 0;
  }
  #open-slide {
    visibility: hidden;
  }

  .footer {
    font-size: 10px;
  }

  /*  media querie for contact page */

  .m6x4-main {
    display: flex;
    height: 80vh;
  }

  .column-a {
    width: 3%;
    margin: 0;
  }

  .column-b {
    width: 60%;
    margin: 3%;
  }

  .column-c {
    width: 35%;
    margin: 0;
    background-color: rgba(78, 73, 73, 0.041);
  }

  .subcolumn-c1-2 {
    background-color: rgb(224, 194, 19);
    display: flex;
    align-items: center;
  }

  .shadowBox {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.96);
  }
}
