* {
  /* margin: 0 auto; Please apply "auto" for your specific classes, because it makes changes on my styles, in style.css I have *{margin:0}; Michaela */
  /* box-sizing: border-box; This I applied for everything in style.css it can be deleted here */
  overflow-x: hidden;
}
/* What I changed in your file: .navbar:height:10vh,(I can explain why), @mediaQ (min:800), Michaela */

/*media queries Nav bar*/

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #bdab4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.navbar.html {
  background-color: #ff7809;
}

#open-slide {
  margin: 0 0 0 15px;
  align-self: center;
  width: 32px;
  height: 32px;
}

#navquery {
  visibility: hidden;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: black;
  color: antiquewhite;
  opacity: 0.8;
  top: 0;
  left: 0;
  padding-top: 60px;
  transition: 0.5;
  z-index: 5;
}

.side-nav a,
.side-nav a:visited {
  transition: 0.3;
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 30px;
  display: block;
}
.side-nav a:hover {
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  opacity: 0.8;
}

#btn-close {
  text-align: right;
}

/*CSS for Contact Page*/
.m6x4-main {
  display: block;
}

.column-a {
  width: 3%;
  margin: 3%;
}

.subcolumn-a1 {
  height: 46%;
}

.subcolumn-a2 {
  height: 5%;
  background-color: #C34A36;
  -webkit-box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62); 
  box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62);
}

.column-b {
  display: block;
  width: 80%;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.column-c {
  display: block;
  width: 80%;
  margin: 10%;
  margin-bottom: 15%;
}

.subcolumn-c1 {
  display: flex;
  height: 12.5%;
}

.subcolumn-c1-1 {
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.subcolumn-c1-2 {
  margin-top: 3%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
}

.subcolumn-c2 {
  height: 75%;
  background-color: hsla(0, 0%, 85%, 0.25);
}

.subcolumn-c2-1 {
  display: block;
  margin: 1%;
}

input,
select,
textarea {
  width: 98%;
  padding: 1%;
  background-color: white;
  border: 0px;
  border-bottom: 2px solid gray;
  margin: 1%;
}

.subcolumn-c2-1-1 {
  display: inline-flex;
  padding: 4%;
  padding-left: 15%;
  padding-right: 10%;
}

#btn-contact {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1.5vh;
  border-radius: 3rem;
  max-width: 30%;
  margin-left: 40%;  
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: #C34A36;
  -webkit-box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62); 
  box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62);
}

.contactUsFont{
  font-size: 1.8rem;
  text-shadow: 0.5px 0.5px 0.5px d80505;
}

.contactInfo{
  font-size: 1.5rem;
  padding-left: 3rem;
}

.contactFS {
  font-size: 1.2rem;
}

.shadowBox {
  box-shadow: 3px 7px 13px 0px rgba(51, 49, 49, 0.363);
}

.hrStyle{
  height: 0,5px;
  color:d80505;
  margin:0%;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
}

.pSize{
  font-size: 1.4rem;
}

.grooveFeature{
  border-left: 0px ridge #C34A36;
}

.fa{
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}


/*footer*/

hr {
  width: 100%;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  color: #fff;
  background-color: black;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}
.footer {
  padding: 0;
  width: 100%;
  bottom: 10px;
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

#reficons {
  bottom: 0;
  font-size: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#reficons a,
#reficons a:active,
#reficons a:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    position: relative;
  }
  .side-nav {
    display: none;
  }

  #navquery {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 25px;
    margin: 0 0px;
  }
  #navquery li {
    padding: 13px 0px;
    margin: 0;
  }

  #navquery li a,
  #navquery li a:visited {
    color: white;
    padding: 13px 10px;
    text-decoration: none;
  }
  #navquery li a:hover {
    text-decoration: none;
    background-color: black;
    margin: 0;
  }
  #open-slide {
    visibility: hidden;
  }

  .footer {
    font-size: 10px;
  }

  .m6x4-main {
    display: flex;
    height: 80vh;
  }

  .column-a {
    width: 3%;
    margin: 0;
  }

  .column-b {
    margin: 3%;
    width: 50%;
    justify-content: center;
  }

  .column-c {
    max-width: 35%;
    margin: 0;
    position: fixed;
    right: 0;
    height:80%;
    z-index: 3;
  }

  .subcolumn-c1-2 {
    margin-top: 0%;
    background: #C34A36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62); 
    box-shadow: -8px 0px 15px -1px rgba(0,0,0,0.62);
  }

  .shadowBox {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.96);
  }

  .contactUsFont{
    font-size: 2.25rem;;
    text-shadow: 1px 2px 2px;
  }

  .grooveFeature{
    border-left: 4px ridge #fc0404;
  }
  .contactInfo{
    text-shadow: 0.5px 0.5px 1px;
  }
  .hrStyle{
    height: 2px;
    color: #fc0404;
    box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.75);
  }
}
