* {
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*** Home ***/

.img-bg {
  background: url(./img/work.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: right;
}

.title-btn-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 5rem 1rem;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: rgba(204, 0, 78, 0.952);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}
/* X Home X */
@media screen and (min-width: 600px) {
  .img-bg {
    background: url(./img/work-final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
  .title-btn-bg {
    justify-content: center;
  }

  .home-title {
    text-align: center;
    line-height: 5rem;
  }
  .btn {
    padding: 2rem;
    border-radius: 3rem;
  }
}
