* {
  margin: 0;
}

/*START Buttons */
.link-buttons {
  display: flex;
  justify-content: center;
}
.w3 {
  border: 0;
  padding: 10px;
  width: 45px;
  font-size: 0.5rem;
  height: 45px;
  margin: 10px 15px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(3, 138, 25);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.w3:hover {
  background-color: rgb(8, 87, 21);
}

.w3:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.mdn {
  border: 0;
  width: 45px;
  padding: 10px;
  height: 45px;
  font-size: 0.5rem;
  margin: 10px 15px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 50%;
  background-color: rgb(82, 82, 82);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.mdn:hover {
  background-color: rgb(0, 0, 0);
}

.mdn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* END buttons */
/* START Page content mobile */

.content-page.top {
  height: 90vh;
}
.content-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.bodybg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: 80px;
  background-position-x: center;
}
.bodybg.html {
  background-image: url(./img/logo-html.webp);
}

.content-page {
  position: relative;
}
.content-page.syn {
  box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.363);
}
.content-page.chall {
  box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.363);
}
.icons {
  position: absolute;
  top: 10px;
  right: -20px;
}
.title-descrip > h1 {
  font-size: 2.2rem;
  padding: 1rem 1rem;
}
.title-descrip > p {
  font-size: 1.8rem;
  padding: 1rem 1rem;
}
.title-descrip {
  box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.363);
  margin: 2rem 2rem;
  border-radius: 3rem;
  background-color: #ff6d00c4;
  max-width: 70%;
}
.title-descrip.syn {
  background-color: ;
}
.img-anatomy {
  margin: 0 2rem;
}

.img-syntax > h2 {
  margin: 2rem 0;
}
.img-syntax {
  max-width: 80%;
  align-self: center;
}
.img-att {
  max-width: 80%;
  align-self: center;
}
.img-att > img,
.img-syntax > img {
  height: auto;
  width: 100%;
}
/* END of mobile */
/* START of Desktop */
@media screen and (min-width: 800px) {
  /* KEEP */
  .bodybg,
  .bodybg.html {
    background-image: none;
  }

  /* START buttons */
  .w3 {
    border: 0;
    padding: 10px;
    margin: 15px 20px;
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }

  .mdn {
    border: 0;
    padding: 10px;
    width: 80px;
    margin: 15px 20px;
    font-size: 1rem;
    height: 80px;
  }

  /* END buttons */

  /* .img-css {
    width: 30vw;
    right: 20px;
    opacity: 1;
  } */

  /* #css-sintax {
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
  } */

  .css {
    background-image: linear-gradient(
      90deg,
      blue 10%,
      white 10%,
      white 90%,
      blue 10%
    );
  }
  .html {
    background-color: #ffa50038;
  }
  .skeleton {
    margin: 0 auto;
    width: max(79%);
  }
}
